<h1 id="title" i18n="page header">Change password</h1>
<div id="password-form">
<div class="list">
  <div class="item password" i18n-title title="Enter your current password">
    <label for="currentPassword" i18n>Current password</label>
    <span class="value">
      <input type="password"
             id="currentPassword"
             [(ngModel)]="currentPassword"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="Current password"
             appAutofocus="true">
    </span>
  </div>
  <div class="item password" i18n-title title="Enter a new password">
    <label for="newPassword" i18n>New password</label>
    <span class="value">
      <input type="password"
             id="newPassword"
             [(ngModel)]="newPassword"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="New password">
    </span>
  </div>
  <div class="item password" i18n-title title="Enter the same password again">
    <label for="repeatPassword" i18n>Repeat password</label>
    <span class="value">
      <input type="password"
             id="repeatPassword"
             [(ngModel)]="repeatPassword"
             (keyup)="checkForm()"
             (keyup.enter)="changePassword();"
             required
             i18n-placeholder placeholder="Repeat password">
    </span>
  </div>
</div>
<div class="buttons">
  <lib-button action="save"
              (press)="changePassword();"
              [processing]="processing"
              *ngIf="changed"
              i18n-title title="Change password"></lib-button>
</div>
</div>