<h2 i18n="page header">Upgrade LaBB-CAT</h2>


<p i18n>If you have downloaded a newer version of LaBB-CAT, you can upgrade to it from this page.</p>

<div *ngIf="!war" id="file-selection">

  <label for="war" i18n>Upgrade File</label>
  <input type="file" id="war"
         [readonly]="uploading"
         (change)="selectFile($event.target.files)" autofocus>
  
  <p i18n>The LaBB-CAT upgrade file is the labbcat.war file contained in the zip file of the new version of LaBB-CAT you downloaded.</p>
</div>
<div *ngIf="uploading" id="upload-progress">
  <p i18n>Uploading...</p>
  <progress value="{{percentComplete}}" max="100"
            title="{{percentComplete + '% '}}"
            id="progress">
  </progress>
</div>
<div *ngIf="id" id="confirmation">
  <h3 id="war">{{war.name}}</h3>
  <table id="upgrade-versions"><tbody>
      <tr class="old">
        <td i18n>Your current version is:</td>
        <td class="version">{{oldVersion}}</td></tr>
      <tr><td class="war">{{war.name}}</td><td class="to">&darr;</td></tr>
      <tr class="new">
        <td i18n="xxx.war contains version:"> contains version:</td>
        <td class="version">{{newVersion}}</td></tr>
      <tr *ngIf="downgrade">
        <td colspan="2" i18n>
          <p class="error">WARNING: the file contains a version that is older than your current version</p>
      </td></tr>
      <tr *ngIf="migration"><td colspan="2">
          <p class="warning" i18n>WARNING: the file contains migration data from another corpus.</p>
          <p class="warning" i18n>WARNING: If you proceed, all your current corpus data and recordings will be deleted and replaced by the data and recordings of the imported corpus.</p>
      </td></tr>
  </tbody></table>
  <div class="buttons">
    <lib-button (press)="confirm()"
                [processing]="confirming"
                [disabled]="cancelling"
                img="save.svg" icon="✅"
                i18n-label label="Upgrade"
                i18n-title title="Confirm upgrade"></lib-button>
    <lib-button (press)="cancel()"
                [processing]="cancelling"
                [disabled]="confirming"
                img="cross-mark.svg" icon="𐄂"
                i18n-label label="Cancel"
                i18n-title title="Cancel upgrade"></lib-button>
  </div>
</div>
<div *ngIf="monitoring" id="upgrade-progress">
  <progress value="{{percentComplete}}" max="100"
            title="{{percentComplete + '% '}}"
            id="progress">
  </progress>
  <div class="messages">
    <div *ngFor="let message of upgradeMessages; index as m" class="message"><span id="{{'message-'+m}}">{{message}}</span></div>
  </div>
  <div *ngIf="lastException" class="error">{{lastException}}</div>
  <pre *ngIf="stackTrace" class="error">{{stackTrace}}</pre>
</div>
<div *ngIf="upgradeComplete" id="complete" i18n>Upgrade complete.</div>
