<h1 i18n="Page title">Login</h1>
<h2>APLS: the Archive of Pittsburgh Language and Speech</h2>
<div id="login-form">
  <div class="list">
    <div class="item">
      <label for="username" i18n>Username</label>
      <span class="value">
        <input [(ngModel)]="username"
               type="text"
               i18n-placeholder placeholder="Username"
               i18n-title title="Your user ID"
               name="j_username"
               (keydown.enter)="login()"
	       autofocus></span>
    </div>
    <div class="item">
      <label for="password">Password</label>
      <span class="value">
        <input [(ngModel)]="password"
               type="password"
               i18n-placeholder placeholder="Password"
               i18n-title title="Your pass phrase"
               name="j_password"
               (keydown.enter)="login()"
               ></span>
    </div>
  </div>
    <div class="buttons">
      <lib-button
        img="account-login.svg" icon="→]"
        i18n-label="Button label" label="Login"
        [disabled]="!username || !password"
        (press)="login()"></lib-button>
    </div>
</div>
<div id="links">
  <ul>
    <li class="item link">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFclWfbWZ-aM-h3Givrr4mH9T4MjyWaeQ-TpTMriC5mOcoqw/viewform?usp=sf_link" target="_blank">
        <img src="./user-interface/en/assets/fa-user-plus.svg">
        <span class="dash-label" i18n>Sign up</span>
      </a>
    </li>
    <li class="item link">
      <a href="https://djvill.github.io/APLS/" target="_blank">
        <img src="./user-interface/en/assets/fa-book.svg">
        <span class="dash-label" i18n>Documentation</span>
      </a>
    </li>
    <li *ngIf="error" class="item link">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdW9U912VhiZN2sjFk6jQFulhY82YNdqkQQRKVJT2LvAFvqnw/viewform?usp=sf_link" target="_blank">
        <img src="./user-interface/en/assets/fa-unlock.svg">
        <span class="dash-label" i18n>Forgot username/password?</span>
      </a>
    </li>
  </ul>
</div>
