#file-chooser {
    min-width: 80vw;
}
#file-chooser label {
    padding-right: 5px;
}
#file-chooser label:after {
    content: ":";
}
#file-chooser details {
    padding-top: 5px;
}
details[open] > div {
    animation-name: roll-down;
    animation-duration: 1s;
}
.header {
    padding-top: 10px;
    font-weight: bold;
}
.item > * {
    min-width: 25%;
    display: inline-block;
    vertical-align: top;
}
.new .attribute {
    width: 15vw;
}
summary > label {
    min-width: 23.5%;
    display: inline-block;
    width: fit-content;
    cursor: zoom-in;
}
details[open] > summary > label {
    cursor: zoom-out;
}

#result {
    padding-left: 15px;
    font-style: italic;
}

#rowCount {
    padding-left: 15px;
}

/* Layout on wider screens */
@media all and (min-width: 640px) {
    .item {
        min-height: 25px;
        display: flex;
    }
}
